# NetStorage Credential File
# How to use
# Please replace dummy values with your own values.
# Please note that to put " "(space) on the both side of "="
hostname = test-ns4-1-nsu.akamaihd.net
username = testuser1
key = VOOhNCvmwBvwjtloadlajtgaed3yuyWnosgnCjmnGlTYAAjP3hng1q
cpcode = 777777
# End of file

